<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'images/bg_1.png' %}" type="image/x-icon">
    <title> Street Food Ordering System</title>
</head>
{% include 'header.html' %}
<body>
 <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
		      <a class="navbar-brand" href=""><span class="flaticon-pizza-1 mr-1"></span>Street Food<br><small>Ordering System</small></a>
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="oi oi-menu"></span> Menu
		      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
				<li class="nav-item"><a href="/admin_profile/" class="nav-link">Home</a></li>

				<li class="nav-item"><a href="/admin_view_customers/" class="nav-link">Customers</a></li>

				<li class="nav-item"><a href="/admin_view_merchants/" class="nav-link">Merchants</a></li>
				<li class="nav-item"><a href="/admin_view_feedback/" class="nav-link">Contacts</a></li>
				<li class="nav-item"><a href="/admin_view_orders/" class="nav-link">Orders</a></li>
				<li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Notifications
                           </a>
                           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                             <a class="dropdown-item" href="/add_notifications/">Add Notifications</a>
                              <a class="dropdown-item" href="/admin_view_notifications/">View Notifications</a>
                           </div>
                        </li>
			  <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Account
                           </a>
                           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                             <a class="dropdown-item" href="/admin_change/">Change Password</a>
                              <a class="dropdown-item" href="/admin_logout/">Logout</a>
                           </div>
                        </li>
	        </ul>
	      </div>
		  </div>
	  </nav>
<img src="{% static 'images/edit22.jpg' %}" width="100%" height="400px"/>
 <br>
 <br>
     <center><h1>  CHANGE PASSWORD</h1></center>

  <section class="m-5 p-3">
      <div class="container ">
        <div class="row block-9">
			<div class="col-md-6 ftco-animate">
			<div style="color:yellow">	{{msg}}</div>
            <form action="{%  url 'admin_change' %}" class="contact-form" method="post">
<!--				<h2>Change Password  Here</h2>-->
				{% csrf_token %}
				<div class="form-group">
               <label>Enter Email:</label>
	                <div class="form-group">
	                  <input type="email" class="form-control" name="email" placeholder="Your Email" value="{{email}}" readonly required>
	                </div>
                </div>
            	<div class="form-group">
               <label>Enter Old Password:</label>
	                <div class="form-group">
	                  <input type="password" class="form-control" name="old_password" placeholder="Your Old Password" required>
	                </div>
                </div>
                 <label>Enter New Password:</label>
	                <div class="form-group">
	                  <input type="password" class="form-control" name="new_password" placeholder="Your New Password" required>
	                </div>
              <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary py-3 px-5">
              </div>
            </form>
	  </div>
		</div></div>
    </section>

{% include 'footer.html' %}


