<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title> Street Food Ordering System</title>
            <link rel="icon" href="{% static 'images/bg_1.png' %}" type="image/x-icon">

</head>
<body>
{% include 'header.html' %}

      <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
		      <a class="navbar-brand" href=""><span class="flaticon-pizza-1 mr-1"></span>Street Food<br><small>Ordering System</small></a>
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="oi oi-menu"></span> Menu
		      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">

                <li class="nav-item"><a href="/merchantprofile/" class="nav-link">Home</a></li>

	          <li class="nav-item "><a href="/merchant_details_display/" class="nav-link">Hotel</a></li>
<!--                <li class="nav-item active"><a href="/merchant_view_feedback/" class="nav-link">Feedbacks</a></li>-->
                <li class="nav-item"><a href="/merchant_view_orders/" class="nav-link">Orders</a></li>
                <li class="nav-item "><a href="/merchant_view_feedback/" class="nav-link">Feedbacks</a></li>
                <li class="nav-item"><a href="/merchants_view_notifications/" class="nav-link">Notifications</a></li>

                 <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Account
                           </a>
                           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="/merchant_change_password/">Change Password</a>
                              <a class="dropdown-item" href="/merchant_logout/">Logout</a>
                           </div>
                        </li>

	        </ul>
	      </div>
        </div>
	  </nav>

<img src="{% static 'images/123.jpg' %}" width="100%" height="500px"/>
<br><br>
  <center><h3>  VIEW FEEDBACK</h3></center>
    <br>
<div class="container">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-dark" cellpadding="10" cellspacing="0">
                <thead class="thead-light">
                    <tr>
        <th>Hotel Name</th>
        <th>Customer Email</th>
        <th>Comment</th>
        <th>Rating</th>
<!--        <th>Action</th>-->
    </tr>
    </thead>
    <tbody>
    {% for feedback in feedbacks %}
    <tr>
        <td>{{merchant}}</td>
        <td>{{feedback.customer.email}}</td>
        <td>{{feedback.text}}</td>
        <td>{{feedback.star}}</td>
<!--        <td><a href="/feedback_delete/{{feedback.id}}"  onclick="return confirm('really want delete?');">Delete</a> </td>-->

        {% empty %}
       <td colspan="5" style="text-align: center;"> No Data</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
     </div></div>

<br><br>
</body>

</html>
{% include 'footer.html' %}
